<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>矩阵元-JUICE开放服务平台</title>
    <meta name="description" content="JUICE开放服务平台是由矩阵元推出的区块链一站式服务平台。提供用户区块链知识学习交流、案例场景体验、智能合约开发、应用开发、区块链环境搭建等服务。" />
    <meta name="keywords" content="矩阵元，区块链，智能合约，合约开发，合约发布，区块链技术，区块链开发，区块链应用，区块链服务，DApp，solidity，区块链学习，智能合约IDE，智能合约编辑器" />
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app">
        <router-view></router-view>
    </div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>
    <script src="./static/js/grammar.js"></script>
    <script src="./static/js/date-format.js"></script>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
