<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Juice IDE</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app">
        <router-view></router-view>
    </div>
    <style>
        @font-face {
                font-family: 'iconfont';
                src: url('static/css/icon/iconfont.eot');
                src: url('static/css/icon/iconfont.eot?#iefix') format('embedded-opentype'),
                url('static/css/icon/iconfont.woff') format('woff'),
                url('static/css/icon/iconfont.ttf') format('truetype'),
                url('static/css/icon/iconfont.svg#iconfont') format('svg');
            }
            .iconfont{
                font-family:"iconfont" !important;
                font-size:16px;font-style:normal;
                -webkit-font-smoothing: antialiased;
                -webkit-text-stroke-width: 0px;
                -moz-osx-font-smoothing: grayscale;
            }
    </style>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>
    <script src="./static/js/grammar.js"></script>
    <script src="../static/js/date-format.js"></script>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
